name: CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    env:
      PORT: ${{ secrets.PORT }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check forbidden files
        run: |
          if [ -f .env ]; then
            echo ".env file is forbidden"
            exit 1
          fi

      - name: Deploy with docker-compose
        run: docker-compose up -d --build
